footer{
    @include global-section-positionning($bottom: $general-top-padding);
    background-color: $color-bg-footer;
    @include font-package(footer-standard);
    @include touchpad-screens{
        text-align: center
    }
    @include laptop-screens{
        @include font-package-laptop(footer-standard);
    }
    .footer__header{
        @include font-package(footer-header);
        @include laptop-screens{
            @include font-package-laptop(footer-header);
        }
    }
    .footer__list{
        margin-top: 15px;
        &-icon{
            min-width: 25px;
        }
        &-link{
            padding-bottom: 10px;
            cursor: pointer;
            @include laptop-screens{
                padding-bottom: 20px;
            }
            &--top{
                @include font-package(footer-highlight);
                @include laptop-screens{
                    @include font-package-laptop(footer-highlight);
                }
            }
            &:hover{
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }
    }
}