footer{
    @include global-section-positionning;
    background-color: $color-bg-footer;
    @include font-package(footer-standard);
    .footer__header{
        @include font-package(footer-header);
    }
    .footer__list{
        margin-top: 15px;
        &-icon{
            min-width: 25px;
        }
        &-link{
            padding-bottom: 10px;
            cursor: pointer;
            &--top{
                @include font-package(footer-highlight);
            }
            &:hover{
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }
    }
}