header{
    width: 100%;
    margin: 30px auto;
    position: relative;
    display: flex;
    align-items: center;
    .home-button{
        position: absolute;
        left: 30px;
        color: #000000;
        &--hidden{
            display: none;
        }
    }
    .logo{
        margin: 0 auto;
        position: static;
    }
}


