@keyframes check-rotation{
    0% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes menu-check{
    0% {
        width: 0px;
    }
    100% {
        width: 20%;
    }
}