// Animations apparition des cartes de menu
@keyframes menu-discover{
    0% {
        top: 15px;
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}
@keyframes check-rotation{
    0% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

// Animations coeur
@keyframes full-heart{
    0%{
        opacity: 0;
        font-size: calc($icon-heart-size * 1.5);
    }
    100%{
        opacity: 1;
        font-size: $icon-heart-size;
    }
}
@keyframes full-heart-restaurant{
    0%{
        opacity: 0;
        font-size: calc($icon-heart-size * 1.8);
    }
    100%{
        opacity: 1;
        font-size: calc($icon-heart-size * 1.3);
    }
}
@keyframes empty-heart{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.heart-content{
    font-size: $icon-heart-size;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        & .heart--colored{
            animation: full-heart $anim-heart-duration both ease-in;
        }
        & .heart--empty{
            animation: empty-heart calc($anim-heart-duration / 10) both ease-in;
        }
    }
    &__rest-page{
        font-size: calc($icon-heart-size * 1.3);
        &:hover{
            & .heart--colored{
                animation: full-heart-restaurant $anim-heart-duration both ease-in;
            }
            & .heart--empty{
                animation: empty-heart calc($anim-heart-duration / 10) both ease-in;
            }
        }
    }
}
.heart--colored{
    position: absolute;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(65deg,$color-secondary 45%,$color-primary);
    opacity: 0;
}