.explain-bloc__card{
    height: $explain-card-height;
    // Mesure permettant de redéfinir la dimension de la card, afin de permettre l'alignement gauche de la bulle numérotée, décalée de 5px vers la gauche par sa position relative.
    width: $explain-card-width;
    padding-right: $explain-card-padding-right;
    @include font-package(global-highlight);
    background-color: $color-bg-alternative;
    border-radius: $explain-card-bdradius;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px 1px;
    position: relative;
    display: grid;
    grid-template-columns: 10px 70px calc(100% - 80px);
    justify-items: center;
    align-items: center;
    @include touchpad-screens{
        max-width: $touchpad-explaincard-width;
    }
    @include laptop-screens{
        height: $laptop-explaincard-height;
        max-width: $laptop-explaincard-width;
        @include font-package(global-highlight);
    }
    &--highlight{
        background-color: hsl(hue($color-primary), 100%, 95%);
    }
    &-num{
        background-color: $color-primary;
        @include font-package-specific($color: #FFFFFF);
        height: $explain-num-size;
        width: $explain-num-size;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: $explain-num-gap;
    }
    &-icon{
        color: darken($color-bg-alternative, 52%);
        &--highlight{
            color: $color-primary;
        }
    }
    &-txt{
        justify-self: flex-start;
        align-self: center;
        overflow: visible;
    }
}