.menu-card{
    min-height: $menu-card-height;
    width: 100%;
    padding: 20px 40px 20px 15px;
    background-color: $color-bg-standard;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px -5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    position: relative;
    @for $i from 1 through 4{
        &:nth-child(#{$i}) {
            animation: 1s ease-in-out calc(($i - 1)*.5s) both menu-discover;
        }
    }
    &__header{
        @include font-package(global-card-header);
        // padding-right: 50px;
        text-overflow: ellipsis;
        white-space : nowrap;
        overflow: hidden;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 15px;
        width: auto;
        &-description{
            text-overflow: ellipsis;
            white-space : nowrap;
            overflow: hidden;
        }
        &-price{
            @include font-package-specific($weight: 700, $size: 1.8);
            padding-left: 20px;
        }
    }
}
