.menu-card{
    height: $menu-card-height;
    padding-left: 15px;
    width: 100%;
    background-color: $color-bg-standard;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px -5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        & .menu-card__check{
            width: $anim-check-content-width;
        }
        & .menu-card__check-icon{
            animation: check-rotation $anim-check-rotation-duration $anim-check-rotation-delay ease-in both;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 15px;
        padding: 15px 0px;
        width: calc(100% - $price-width - $anim-check-content-width);
        overflow: hidden;
        cursor: pointer;
        flex-grow: 1;
        &-header{
            @include font-package(global-card-header);
            text-overflow: ellipsis;
            white-space : nowrap;
            overflow: hidden;
            width: auto;
        }
        &-desc{
            text-overflow: ellipsis;
            white-space : nowrap;
            overflow: hidden;
            width: auto;
        }
    }
    &__price{
        @include font-package(restaurant-price);
        margin: 15px;
        min-width: $price-width;
        max-width: $price-width;
    }
    &__check{
        width: 0px;
        height: $menu-card-height;
        background-color: $color-tertiary;
        border-radius: 0px 25px 25px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms;
        overflow: hidden;
        &-icon{
            color: $color-bg-standard;
        }
    }
}
