.menu-card{
    height: $menu-card-height;
    padding-left: $menu-card-padding-left;
    width: $menu-card-width;
    background-color: $color-bg-standard;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px -5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    @for $i from 1 through 4{
        &:nth-child(#{$i}) {
            animation: $anim-menu-duration ease-in-out calc(($i - 1)*$anim-menu-delay) both menu-discover;
        }
    }
    @include touchpad-screens{
        max-width: 340px;
        @for $i from 1 through 4{
            &:nth-child(#{$i}) {
                animation: none
            }
        }
    }
    @include laptop-screens{
        max-width: calc((100% / 3) - 50px);
        @for $i from 1 through 4{
            &:nth-child(#{$i}) {
                animation: none;
            }
        }
    }
    &__header{
        @include font-package(global-card-header);
        text-overflow: ellipsis;
        white-space : nowrap;
        overflow: hidden;
    }
    &:hover {
        & .menu-card__check{
            width: $anim-check-content-width;
        }
        & .menu-card__check-icon{
            animation: check-rotation $anim-check-rotation-duration $anim-check-rotation-delay ease-in both;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 15px;
        padding: $menu-content-padding-top-bottom $menu-content-padding-right-left;
        width: calc(100% - $menu-card-price-width - $anim-check-content-width);
        overflow: hidden;
        flex-grow: 1;
        &-header{
            @include font-package(global-card-header);
            text-overflow: ellipsis;
            white-space : nowrap;
            overflow: hidden;
            width: auto;
        }
        &-desc{
            text-overflow: ellipsis;
            white-space : nowrap;
            overflow: hidden;
            width: auto;
        }
    }
    &__price{
        @include font-package(restaurant-price);
        margin: $menu-price-margins;
        min-width: $menu-card-price-width;
        max-width: $menu-card-price-width;
    }
    &__check{
        width: 0px;
        height: $menu-card-height;
        background-color: $color-tertiary;
        border-radius: 0px $explain-card-bdradius $explain-card-bdradius 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all $anim-card-check-duration;
        overflow: hidden;
        &-icon{
            color: $color-bg-standard;
        }
    }
}
