.restaurant-bloc__card{
    height: $rest-card-height;
    width: $rest-card-width;
    background-color: $color-bg-standard;
    border-radius: $rest-card-bdradius;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px -5px;
    position: relative;
    @include touchpad-screens{
        max-width: $touchpad-restcard-width;
    }
    @include laptop-screens{
        height: $laptop-restcard-height;
        max-width: $laptop-restcard-width;
    }
    &:hover{
        box-shadow:rgba(0, 0, 0, 0.5) 0px 8px 15px 1px;
    }
    &--new{
        position: absolute;
        z-index: 1;
        top: $rest-card-NewTag-gap;
        right: $rest-card-NewTag-gap;
        background-color: $color-tertiary;
        padding: $rest-card-NewTag-top-bottom-padding $rest-card-NewTag-right-left-padding;
        border-radius: 5% / 20%;
        @include font-package-specific($weight: 500, $color: hsl(hue($color-tertiary), saturation($color-tertiary) + 20%, lightness($color-tertiary) - 40%));
        @include laptop-screens{
            font-size: 2rem;
        }
    }
    &-img{
        height: $rest-card-img-height;
        width: $rest-card-img-width;
        object-fit: cover;
        border-radius: $rest-card-bdradius $rest-card-bdradius 0px 0px;
        position: relative;
        @include laptop-screens{
            height: $laptop-restcard-img-height;
        }
    }
    &--old{
        display: none;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: $rest-card-padding-top_bottom $rest-card-padding-right $rest-card-padding-top_bottom $rest-card-padding-left;
        @include laptop-screens{
            padding-top: 15px;
        }
    }
    &-txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 5px;
    }
    &-header{
        @include font-package(global-card-header);
        @include laptop-screens{
            @include font-package-laptop(global-card-header);
        }
    }
    &-location{
        @include font-package(standard);
        @include laptop-screens{
            @include font-package-laptop(standard)
        }
    }
}

