.restaurant-bloc__card{
    height: 250px;
    width: 100%;
    background-color: $color-bg-standard;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 15px -5px;
    position: relative;
    &:hover{
        box-shadow:rgba(0, 0, 0, 0.5) 0px 8px 15px 1px;
    }
    &--new{
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        padding: 5px 15px;
        border-radius: 5% / 20%;
        @include font-package-specific($weight: 500, $color: hsl(hue($color-tertiary), saturation($color-tertiary) + 20%, lightness($color-tertiary) - 40%));
    }
    &-img{
        height: 170px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
        position: relative;
    }
    &--old{
        display: none;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 25px 10px 15px;
    }
    &-header{
        @include font-package(global-card-header);
        margin-bottom: 5px;
    }
    &-location{
        @include font-package(standard);
    }
}

