.loader-timer{
    animation: loader-visibility $loader-visibility-duration ease-out both;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    .loader-content{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: -webkit-linear-gradient(-45deg, $color1-bg-loader 0%, $color2-bg-loader 40%, $color3-bg-loader 80%);
        background-size: 250% 250%;
        animation: loader-bg-gradient 4s ease-in-out both infinite;
        & .loader-bloc{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: $loader-width;
            height: $loader-height;
            display: flex;
            justify-content: center;
            align-items: center;
            @for $i from 1 through 20{
                & .dot#{$i}{
                    transform: rotate(calc(18deg * #{$i}));
                    position: absolute;
                    top: 32px;
                    left: 32px;
                    width: 75%;
                    height: 75%;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $loader-dot-size;
                        height: $loader-dot-size;
                        background: $color-bg-standard;
                        transform: scale(0);
                        box-shadow: 0 0 10px $color-bg-standard,
                                    0 0 20px $color-bg-standard,
                                    0 0 40px $color-bg-standard,
                                    0 0 60px $color-bg-standard,
                                    0 0 80px $color-bg-standard,
                                    0 0 100px $color-bg-standard;
                        border-radius: 50%;
                        animation: dots-sizing $loader-circle-duration calc($loader-circle-delay * $i) linear infinite;
                    }   
                }
            }
            &__brand{
                // animation: brand-beat 2000ms ease both;
                @include font-package(loader);
                & span{
                    text-shadow: 0px 0px 30px $color-bg-standard,
                }

            }
        } 
    }
}

.location-bloc{
    height: 70px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 25px 150px 25px;
    background-color: darken($color-bg-alternative, 5%);
    box-shadow: inset 0 5px 5px -3px darken($color-bg-alternative, 20%);
    @include font-package(global-highlight);
    &__icon{
        align-self: center;
    }
    &__city{
        justify-self: center;
        align-self: center;
        //  position: fixed;
        // left: calc((100% - 130px) / 2);
    }   
}

.welcome-bloc{
    min-height: 240px;
    @include global-section-positionning;
    background-color: $color-bg-alternative;
    text-align: center;
    @include font-package-specific($weight: 300, $size: 1.8);

    &__header{
        @include font-package(home-header);
        margin-bottom: 20px;
    }
}

.explain-bloc{
    @include global-section-positionning;
    &__header{
        @include font-package(home-header);
        padding-bottom: 20px;
        @include touchpad-screens{
            text-align: center;
        }
        @include laptop-screens{
            padding-bottom: 40px;
        }
    }
    &__cards-list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 25px;
        @include touchpad-screens{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            column-gap: 30px;
            row-gap: 30px;
        }
    }
}

.restaurant-bloc{
    @include global-section-positionning;
    background-color: $color-bg-alternative;
    &__header{
        @include font-package(home-header);
        padding-bottom: 20px;
        @include touchpad-screens{
            text-align: center;
        }
        @include laptop-screens{
            padding-bottom: 40px;
        }
    }
    &__cards-list{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        @include touchpad-screens{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 25px;
            row-gap: 30px;
        }
        
    }
}