.location-bloc{
    height: 70px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 25px 150px 25px;
    background-color: darken($color-bg-alternative, 5%);
    box-shadow: inset 0 5px 5px -3px darken($color-bg-alternative, 20%);
    @include font-package(global-highlight);
    &__icon{
        align-self: center;
    }
    &__city{
        justify-self: center;
        align-self: center;
        //  position: fixed;
        // left: calc((100% - 130px) / 2);
    }   
}

.welcome-bloc{
    min-height: 240px;
    @include global-section-positionning;
    background-color: $color-bg-alternative;
    text-align: center;
    @include font-package-specific($weight: 300, $size: 1.8);
    &__header{
        @include font-package(home-header);
        margin-bottom: 20px;
    }
}

.explain-bloc{
    @include global-section-positionning;
    &__header{
        @include font-package(home-header);
        padding-bottom: 20px;
    }
    &__cards-list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 25px;
    }
}

.restaurant-bloc{
    @include global-section-positionning;
    background-color: $color-bg-alternative;
    &__header{
        @include font-package(home-header);
        padding-bottom: 20px;
    }
    &__cards-list{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
}