.top-restaurant{
    margin: 0 auto;
    &__img{
        object-fit: cover;
        height: $menu-img-height;
        width: $menu-img-width;
        @include touchpad-screens{
            height: $touchpad-menu-img-height;
        }
        @include laptop-screens{
            height: $laptop-menu-img-height;
        }
    }
}

.menu-bloc{
    margin: 0 auto -50px;
    background-color: $color-bg-alternative;
    position: relative;
    top: -50px;
    border-radius: $menu-bloc-bdradius $menu-bloc-bdradius 0px 0px;
    &__header{
        @include global-section-positionning($bottom: 30px);
        @include font-package(restaurant-header-top);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: $menu-headerbloc-right-padding;
        & h1{
            padding-right: $menu-title-right-padding;
            @include laptop-screens{
                @include font-package-laptop(restaurant-header-top);
            }
        }
        @include touchpad-screens{
            padding: $touchapd-menu-card-top-padding $touchapd-menu-card-right_left-padding $touchapd-menu-card-bottom-padding;
        }
        @include laptop-screens{
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            @include global-section-positionning($bottom: 50px);
        }
    }
    &__selection{
        @include global-section-positionning($top: 0);
        position: relative;
        
        &-header{
            @include font-package(restaurant-header-menu);
            @include touchpad-screens{
                text-align: center;            
            }
            @include laptop-screens{
                @include font-package-laptop(restaurant-header-menu);
            }
            &::after{
                content: "";
                display: block;
                margin: $menu-GreenLimit-top-margin 0px $menu-GreenLimit-bottom-margin;
                height: $menu-GreenLimit-height;
                width: $menu-GreenLimit-width;
                background-color: $color-tertiary;
                @include touchpad-screens{
                    margin: $menu-GreenLimit-top-margin auto $touchpad-menu-GreenLimit-bottom-margin;
                    width: $touchpad-menu-GreenLimit-width;
            
                }
            }
        }
        @include touchpad-screens{
            @for $i from 1 through 4{
                &:nth-child(#{$i}) {
                    animation: $anim-menu-duration ease-in-out calc(($i - 1)*$anim-menu-delay) both menu-discover;
                }
            }
        }
        @include laptop-screens{
            @for $i from 1 through 4{
                &:nth-child(#{$i}) {
                    animation: $anim-menu-duration ease-in-out calc(($i - 1)*$anim-menu-delay) both menu-discover;
                }
            }
        }
        &-list{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            position: relative;
            @include touchpad-screens{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 30px;
                column-gap: 25px;
                
            }
        }
    }
}