$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-alternative: #f6f6f6;
$color-bg-footer: #2f2f2f;

$general-right_left-padding: 30px;
$general-top-padding: 35px;
$general-bottom-padding: 50px;

$global-page-max-width: 1400px;

