// Paramètres couleurs généraux
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-standard: #FFFFFF;
$color-bg-alternative: #F6F6F6;
$color-bg-footer: #2F2F2F;

$color-font-standard: #000000;
$color-font-secondary: #FFFFFF;

$color1-bg-loader: rgba(147,86,220,0.9);
$color2-bg-loader: rgba(255,121,218,0.9);
$color3-bg-loader: rgba(153,226,208,0.9);
$loader-bg-transparency: 0.8;

// Paramètres positionnement généraux
$general-right_left-padding: 30px;
$general-top-padding: 35px;
$general-bottom-padding: 50px;

$global-page-max-width: 1400px;

//Paramètres loading-spinner
$loader-width: 270px;
$loader-height: 270px;
$loader-dot-size: 20px;

$loader-visibility-duration: 4s;

$loader-circle-duration: 1500ms;
$loader-circle-delay: calc($loader-circle-duration / 20);

// Paramètres cartes Menu
$menu-card-height: 90px;
$menu-card-padding-top_bottom: 20px;
$menu-card-padding-right: 40px;
$menu-card-padding-top_bottom: 15px;

// Paramètres animation icône coeur
$icon-heart-size: 2.6rem;
$anim-heart-duration: 500ms;

// Paramètres animation validation menu
$price-width: 10%;

$anim-card-check-duration: 500ms;
$anim-check-rotation-duration: calc($anim-card-check-duration - 250ms);
$anim-check-rotation-delay: 100ms;
$anim-check-content-width: 80px;

//Paramètres animation cartes menu
$anim-menu-duration: 500ms;
$anim-menu-delay: calc($anim-menu-duration / 2);

// Paramètres polices généraux
$font-standard-proportions: 62.5%;
$font-standard-package: (
    weight: 300,
    size: 1.7,
    family: 'Roboto',
    color: $color-font-standard
);

$font-package: (
    // ! /!\ NE PAS MODIFIER /!\ -- Pour modifier ce kit de police, modifier directement la map '$font-standard-package'
    standard: (
        weight: map-get($font-standard-package, weight),
        size: map-get($font-standard-package, size),
        family: map-get($font-standard-package, family),
        color: map-get($font-standard-package, color),
    ),// ! /!\ --------------------------------------------------
    loader: (
        weight: 400,
        size: 3,
        family: 'Shrikhand',
        color: $color-font-secondary,
    ),
    home-header: (
        weight: 700,
        size: 3,
        family: 'Roboto',
        color: $color-font-standard,
    ),
    restaurant-header-top: (
        weight: 700,
        size: 2.8,
        family: 'Shrikhand',
        color: $color-font-standard,
    ),
    restaurant-header-menu: (
        weight: 300,
        size: 1.8,
        family: 'Roboto',
        color: $color-font-standard,
    ),
    restaurant-price: (
        weight: 700,
        size: 1.8,
        family: 'Roboto',
        color: $color-font-standard,
    ),
    global-card-header: (
        weight: 700,
        size: 1.9,
        family: 'Roboto',
        color: $color-font-standard,
    ),
    global-highlight: (
        weight: 500,
        size: 1.8,
        family: 'Roboto',
        color: $color-font-standard,
    ),
    global-buttons: (
        weight: 500,
        size: 1.8,
        family: 'Roboto',
        color: $color-font-secondary,
    ),
    footer-standard: (
        weight: 400,
        size: 1.6,
        family: 'Roboto',
        color: $color-font-secondary,
    ),
    footer-header: (
        weight: 400,
        size: 1.8,
        family: 'Shrikhand',
        color: $color-font-secondary,
    ),
    footer-highlight: (
        weight: 700,
        size: 1.6,
        family: 'Roboto',
        color: $color-font-secondary,
    )
);

// MEDIAS QUERIES - PARAMETRES
$breakpoints: (
    big-mobiles: 481px,    
    touch-pad: 769px,
    laptop: 1025px,
    HD-laptop: 1601px,
);
// Mobile : jusqu'à 576px
// Tablette : jusqu'à 1024px
// Au delà : ordinateurs






