$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-alternative: #f6f6f6;

$general-right_left-padding: 30px;
$general-top-padding: 35px;
$general-bottom-padding: 50px;
